.about-container {
    background-color: RGB(248, 244, 241);
}

.text-container p {
    margin-bottom: 30px;
}

.img-box {
    width: 45vw;
    margin-bottom: 30px;
}

.img-box img {
    display: block !important;
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
}

.site-color-1 {
    background-color: rgb(248, 244, 241);
}

.footer-color {
    background-color: rgb(230, 220, 212);
}

.terms p {
    margin-left: 1rem;
}

.terms li {
    margin-left: 2rem;
}

.policy p {
    margin-left: 1rem;
}

.law dt {
    margin-bottom: 0.5rem;
}

.law dd {
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.res-navi {
    visibility: hidden;
    border-top: solid 1px  rgb(240, 240, 240);
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #fff;
}

.navi-item {
    width: 100%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border-bottom: solid 1px  rgb(240, 240, 240);
    vertical-align: middle;
}

.close-button {
    border-bottom: solid 1px  rgb(240, 240, 240);
}

.open {
    visibility: visible;
    animation-duration: 0.5s;
    animation-name: fade-in;
}